.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: 2fr 1fr 2fr;
}

.column-gap--big {
  column-gap: 16rem;

  @include respond(tablet-portrait) {
    column-gap: 12rem;
  }

  @include respond(tablet-portrait-small) {
    column-gap: 8rem;
  }
}

.row-gap--medium {
  row-gap: 12rem;

  @include respond(tablet-portrait) {
    row-gap: 10rem;
  }

  @include respond(tablet-portrait-small) {
    row-gap: 8rem;
  }

  @include respond(phone) {
    row-gap: 2rem;
  }
}
