.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(#363636, 0.5);

  width: 100%;
  height: 11.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 10;

  @include respond(tablet-landscape) {
    height: 10rem;
  }
}

.header-height {
  height: 8.6rem;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  padding: 0 4.8rem;

  // не работает почему-то
  @include respond(tablet-portrait) {
    width: 100%;
  }

  @include respond(tablet-portrait-small) {
    padding: 0 1.6rem;
  }

  @include respond(tablet-portrait) {
    width: 90%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.navigation {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 70rem;
    list-style: none;
    // gap: 6.4rem;

    @include respond(desktop-small) {
      width: 50rem;
    }

    @include respond(tablet-landscape) {
      width: 45rem;
    }

    @include respond(tablet-portrait-small) {
      width: 28rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      // text-transform: uppercase;

      font-size: 1.8rem;
      letter-spacing: 1px;
      font-weight: 600;

      transition: all 0.3s;

      @include respond(tablet-portrait) {
        font-size: 1.6rem;
      }
    }

    &:hover,
    &:active {
      color: $color-primary-light;
      text-shadow: 0 0 2px rgba($color-primary, 0.5);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;

  &__text {
    font-size: 2.4rem;
    line-height: 1.2;
    font-style: italic;

    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary-light;
    text-shadow: 0 0 4px rgba($color-primary, 0.5);

    @include respond(tablet-landscape) {
      font-size: 2rem;
    }
  }

  &__img {
    height: 8rem;
  }

  @include respond(tablet-landscape) {
    height: 5rem;
  }
}

//
