// Colors
$color-text-default: #e3e3ff;
$color-text-light: #ebebff;

$color-primary: #e3e303;
$color-primary-light: #cfcfad;
$color-primary-light-2: #fcfdc7; // for connect button
$color-primary-dark: #c6c622;

$color-secondary: #cd9b37;

$color-white: #fff;
$color-black-1: #000;
$color-black-2: #111;

$color-background-1: #36374b;
$color-background-2: #a4bcbc;
$color-background-3: #051126;
// Font
$font-size-default: 1.6rem;
