@mixin buttonBase {
  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: $color-black-2;
  cursor: pointer;

  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;

  clip-path: polygon(10% 0, 100% 0, 100% 50%, 90% 100%, 0 100%, 0 50%);
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
}

@mixin gradientBackground($color1, $color2) {
  background-image: linear-gradient(
    to right,
    rgba($color1, 0.8),
    rgba($color2, 0.8)
  );
}

// ### MEDIA QUERY MANAGER ###
/*

0 - 600px:        Phone
600 - 900px:      Tablet portait
900 - 1200px:     Tablet landscape
1200 - 1800px:    Desktop (Default)
1800px+           Big desktop


$breakpoint argument choices:
- phone !
- tab-port !
- tab-land
- big-desktop


ORDER:
breakpoint -> section -> write media queries
-> next section
when done all sections for current breakpoint -> -> next breakpoint

actually need to do only 3 breakpoints (mostly)
1 laptops/smaller desktops (maybe) | Smaller Desktops 1344px
2 tablet - portrait
3 phone

but in reality it can look something like this

0 default (my monitor)
1 desktop-small (1350)
2 tablet-landscape (1200)
3 tablet-portrait (900)
4 tablet-portait-small (700)
5 phone (550)
6 phone-small (...) maybe don't need



ORDER of writing media queries:
1 Base + Typography
2 Layout + Grid
3 Component

*/

// 1em / 1rem in media queries is always = 16px
// need to use em

@mixin respond($breakpoint) {
  // phone = 640px
  @if $breakpoint == phone {
    @media (max-width: 40.5em) {
      @content;
    }
  }

  // tablet-portait-small = 820px
  @if $breakpoint == tablet-portrait-small {
    @media (max-width: 51.25em) {
      @content;
    }
  }

  // tablet-portait = 1020px
  @if $breakpoint == tablet-portrait {
    @media (max-width: 63.75em) {
      @content;
    }
  }
  // tablet-landscape = 1200px
  @if $breakpoint == tablet-landscape {
    @media (max-width: 76em) {
      @content;
    }
  }

  // desktop-smaller = 1400px
  @if $breakpoint == desktop-smaller {
    @media (max-width: 87.5em) {
      @content;
    }
  }

  // desktop-small = 1650px
  @if $breakpoint == desktop-small {
    @media (max-width: 103em) {
      @content;
    }
  }
}
